body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}
/* Добавить медиа-запросы */
@media (max-width: 767px) {
    .jarallax {
        min-height: 60vh !important;
        height: auto !important;
    }
    
    .mbr-fullscreen {
        min-height: 60vh !important;
    }
    
    .jarallax-img {
        object-fit: cover !important;
        width: 100% !important;
        height: 60vh !important;
    }
}
